
body{
  display: flex;
  justify-content: center;
}
.form{
  width: 250px;
  display: flex;
  flex-direction: column;
 justify-content: center;
}

.form input{
  border-radius: 3px;
  padding: 4px;
}
.submit{
  width: 100px;
  transform: translateX(50%);
  background-color: blue;
  color: antiquewhite;
  padding: 4px;
  border-radius: 6px;
}